<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="header">
        TEMPLATES
    </div>
    <div id="intro"><p>
        These are some examples of different themes of templates for your resumes. 
    </p></div>
    <ul id="temp">
        <li><a href="#">Template 1(classic)</a></li>
        <li><a href="#">Template 2(green)</a></li>
        <li><a href="#">Template 3(orange)</a></li>
        <li><a href="#">Template 4(blue)</a></li>
    </ul>
</body>
</html>