@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.animated-title {
    padding-left: 2.5vw;
    padding-top: 1.5vh;
    grid-row: 1/2;
}

.animated-title>h1 {
    color: black;
    font-family: 'Major Mono Display',
        monospace;
    background-image: linear-gradient(1deg, #ea698bff, #d55d92ff, #c05299ff, #ac46a1ff, #973aa8ff, #822fafff, #6d23b6ff, #6411adff, #571089ff, #47126bff);
    background-size: 400%;
    font-size: 4.2em;
    letter-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation: animate 15s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}