* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    background-color: #d6d4e0;
}

header {
    padding: 20px;
}

.container {
    display: block;
    text-align: center;
    padding: 20px 30px;
}

.catchyline {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.8px;
    margin-bottom: 15px;
}

.create {
    background-color: #0893E6;
    padding: 20px;
    color: white;
    cursor: pointer;
}

.create:hover {
    background-color: #0B7AC4;
    color: white;
}

.image {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}