* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    display: block;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: grid;
}

.personal-details {
    display: grid;
}


fieldset:focus {
    border: 1px solid red;
}

tags-container {
    border: 1px solid black;
    padding: 2px 2.5px;
    display: inline-block;
    border-radius: 50%;
}

.tag {
    background-color: #ddd;
    font-size: 85%;
    cursor: pointer;
    padding: 5px 2px;
    margin: 5px 2px;
    border: 1px solid #CCC;
    display: block;
}

.tag:hover {
    color: white;
    background-color: #3af;
}

.close:hover {
    color: #E32111;
    transform: scale(1.2);
}

.tag-input {
    border: 0px;
    outline: 0px;
}

