@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Major+Mono+Display&display=swap');

.description {
    font-size: 1.6em;
    font-family: 'Baloo Bhaina 2',
        cursive;
    letter-spacing: 1.3px;
}